# Paranal Dataset

The raw data coming from Paranal are available at:

In [4]:
!ls ../../data/raw/paranal | tail

GRAVITY-2018-12-30T00:33:40.369Z.AT3.csv
GRAVITY-2018-12-30T00:33:40.369Z.AT4.csv
GRAVITY-2018-12-30T00:33:40.369Z.OBS.csv
GRAVITY-2018-12-30T00:37:09.554Z.AT1.csv
GRAVITY-2018-12-30T00:37:09.554Z.AT2.csv
GRAVITY-2018-12-30T00:37:09.554Z.AT3.csv
GRAVITY-2018-12-30T00:37:09.554Z.AT4.csv
GRAVITY-2018-12-30T00:37:09.554Z.OBS.csv
GRAVITY-countlogs.csv
GRAVITY-observations-2018.12.csv

In [9]:
import pandas as pd
countlogs=pd.read_csv("../../data/raw/paranal/GRAVITY-countlogs.csv")

In [11]:
countlogs

,START,END,AT1,AT2,AT3,AT4,OBS
0,2018-12-15T23:55:02.289Z,2018-12-16T00:02:22.378Z,449,405,460,321,397
1,2018-12-16T00:02:45.108Z,2018-12-16T00:48:52.275Z,1341,1043,1405,1377,1878
2,2018-12-16T00:50:01.619Z,2018-12-16T01:08:56.031Z,579,360,585,528,687
3,2018-12-16T01:09:09.373Z,2018-12-16T01:29:30.306Z,504,436,604,541,735
4,2018-12-16T02:35:09.945Z,2018-12-16T02:46:08.156Z,414,280,621,307,512
...,...,...,...,...,...,...,...
137,2018-12-28T03:47:28.569Z,2018-12-28T03:57:11.779Z,933,330,350,339,992
138,2018-12-28T03:59:26.125Z,2018-12-28T04:19:51.997Z,1263,454,484,511,992
139,2018-12-28T04:20:09.711Z,2018-12-28T04:28:16.507Z,927,301,323,325,929
140,2018-12-30T00:33:40.369Z,2018-12-30T00:37:05.073Z,284,277,292,267,390
141,2018-12-30T00:37:09.554Z,2018-12-30T01:37:23.552Z,681,732,880,1023,698

In [16]:
countlogs[["AT1", "AT2", "AT3", "AT4", "OBS"]].sum()

AT1    161742
AT2     55885
AT3     72211
AT4     58791
OBS    125800
dtype: int64

In [17]:
countlogs[["AT1", "AT2", "AT3", "AT4", "OBS"]].sum().sum()

474429