# Dataset Results
Updated on 2019-12-27

Three datasets were used:
1. ALMA Antennas during Observation (ALMA Antennas)
1. Paranal AT Telescopes during Observtion (Paranal AT)
1. Paranal Instrument GRAVITY executing observations (Paranal Observation)

Each of those raw datasets, in ```data/raw```, were processed and converted to a CSV using the following standard structure, and stored in ```data/interim```

| origin   | @timestamp | source | logtext |
|----------|---------------------------|--------|---------------------------------------------|
| (inferred from dataset #) | [YYYY-MM-DD HH:mm:ss.mmm] | [optional source] | [text coming from the event log] |

## 1. ALMA Antennas
The dataset from ALMA correspond to some manually selected antenna containers that covers the full lifecycle of the related computer, between reboots.

In [1]:
import pandas as pd
RAWDATA="../../../data/raw/alma/"
INTERIM="../../../data/interim/ALMA/"
stats=pd.read_csv(INTERIM+'count-AntObs.csv')
alma_ds = pd.read_csv(INTERIM+'2017-07-12T14:39:02.679-dv25-AntObs.csv').head()

### Logs by Instance

In [2]:
stats[['# logs']].describe()

            # logs
count   630.000000
mean    388.666667
std     387.084512
min      12.000000
25%     156.000000
50%     252.500000
75%     509.750000
max    4261.000000

### Sample dataset points

In [3]:
alma_ds

,@timestamp,source,logtext
0,2017-07-12 14:39:02.679,maci::LibraryManager - maci::LibraryManager::load,Request to load 'AntInterferometryController'.
1,2017-07-12 14:39:02.680,maci::LibraryManager - maci::LibraryManager::load,Full path '/alma/ACS-2015.8/ACSSW/lib/libAntIn...
2,2017-07-12 14:39:02.693,maci::LibraryManager - maci::LibraryManager::load,Loaded '/alma/ACS-2015.8/ACSSW/lib/libAntInter...
3,2017-07-12 14:39:02.695,/cppContainer-GL -,Switched state of component CONTROL/DV25/AntIn...
4,2017-07-12 14:39:02.695,/cppContainer-GL -,Switched state of component CONTROL/DV25/AntIn...

## 2. Paranal AT

In [4]:
import pandas as pd
RAWDATA="../../../data/raw/PARANAL/"
INTERIM="../../../data/interim/PARANAL/"
at_ds=pd.read_csv(INTERIM+'GRAVITY-2018-12-16T00:02:45.108Z.AT1.csv')

In [12]:
countlogs=pd.read_csv(RAWDATA+'GRAVITY-countlogs.csv')
at1 = countlogs[['AT1']].rename(columns={'AT1': 'AT logs'})
at2 = countlogs[['AT2']].rename(columns={'AT2': 'AT logs'})
at3 = countlogs[['AT3']].rename(columns={'AT3': 'AT logs'})
at4 = countlogs[['AT4']].rename(columns={'AT4': 'AT logs'})
stats = pd.concat([at1, at2, at3, at4])

### Logs by Instance

In [13]:
stats[['AT logs']].describe()

           AT logs
count   568.000000
mean    613.783451
std     522.236363
min       2.000000
25%     321.000000
50%     450.000000
75%     791.250000
max    6284.000000

### Sample dataset points

In [7]:
at_ds.head()

,@timestamp,source,logtext
0,2018-12-16T00:03:16.000Z,wat1tcs/logManager,INS.OPTI1.MOVE Motion execution.
1,2018-12-16T00:03:17.000Z,wat1tcs/logManager,INS.OPTI1.MOVEDONE Motor offset done.
2,2018-12-16T00:03:17.000Z,wat1tcs/logManager,INS.OPTI2.MOVE Motion execution.
3,2018-12-16T00:03:17.689Z,wat1tcs/ic0fbDev_PUPX,0 - ic0fbiDevDrvDiscreteMotor.C:1953: NAOMI: ...
4,2018-12-16T00:03:18.000Z,wat1tcs/logManager,INS.OPTI2.MOVEDONE Motor offset done.

## 3. Paranal Observation

In [8]:
import pandas as pd
RAWDATA="../../../data/raw/PARANAL/"
INTERIM="../../../data/interim/PARANAL/"
obs_ds=pd.read_csv(INTERIM+'GRAVITY-2018-12-16T00:02:45.108Z.OBS.csv')
stats=pd.read_csv(RAWDATA+'GRAVITY-countlogs.csv')

### Logs by Instance

In [11]:
stats[['OBS']].describe()

               OBS
count   142.000000
mean    885.915493
std     376.563266
min     185.000000
25%     656.000000
50%     984.500000
75%    1126.000000
max    2168.000000

### Sample dataset points

In [10]:
obs_ds.head()

,@timestamp,source,logtext
0,2018-12-16T00:02:45.108Z,wgv/bob_29921,OB started at 2018-12-16T00:02:45
1,2018-12-16T00:02:45.109Z,wgv/bob_29921,(OBS.NAME: GJ65_Dec16 // OBS.ID: 2226308)
2,2018-12-16T00:02:45.115Z,wgv/bob_29921,Started at 2018-12-16T00:02:45 (underlined)
3,2018-12-16T00:02:45.115Z,wgv/bob_29921,GRAVITY_dual_acq -- GRAVITY Dual Mode Acquisi...
4,2018-12-16T00:02:45.378Z,wgv/bob_29921,COU AG OPTIMIZE = 'F'